はじめてのNode-RED_MCU-Edition補足書/get-moduleID.json
[{"id":"4f57ad7d8188c7a6","type":"tab","label":"get moduleID","disabled":false,"info":"","env":[],"_mcu":{"mcu":true}},{"id":"856e2b9d86538e96","type":"mcu_digital_out","z":"4f57ad7d8188c7a6","name":"BLUE LED","pin":"26","mode":"Output","initial":"undefined","_mcu":{"mcu":true},"x":490,"y":80,"wires":[]},{"id":"a73ae2d571ec9fbd","type":"inject","z":"4f57ad7d8188c7a6","name":"","props":[{"p":"timestamp","v":"","vt":"date"},{"p":"topic","vt":"str"}],"repeat":"3","crontab":"","once":true,"onceDelay":0.1,"topic":"","_mcu":{"mcu":true},"x":110,"y":160,"wires":[["dc73a1064cef2646","8c1a11232c91c1c8"]]},{"id":"ae5c2ed5eb2c2b8d","type":"switch","z":"4f57ad7d8188c7a6","name":"","property":"payload","propertyType":"msg","rules":[{"t":"hask","v":"simulated","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"_mcu":{"mcu":true},"x":370,"y":160,"wires":[["ac6da0a06bf8c5d9"],["302268cb48cb1c96"]]},{"id":"ac6da0a06bf8c5d9","type":"debug","z":"4f57ad7d8188c7a6","name":"simulated","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","_mcu":{"mcu":true},"x":520,"y":140,"wires":[]},{"id":"dc73a1064cef2646","type":"trigger","z":"4f57ad7d8188c7a6","name":"","op1":"0","op2":"1","op1type":"str","op2type":"str","duration":"200","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"_mcu":{"mcu":true},"x":300,"y":80,"wires":[["856e2b9d86538e96"]]},{"id":"15f3f78d5ca08693","type":"change","z":"4f57ad7d8188c7a6","name":"set properties","rules":[{"t":"set","p":"payload.thermometer.unit","pt":"msg","to":"°C","tot":"str"},{"t":"set","p":"payload.hygrometer.unit","pt":"msg","to":"%","tot":"str"},{"t":"move","p":"timestamp","pt":"msg","to":"payload.timestamp","tot":"msg"},{"t":"set","p":"payload.location","pt":"msg","to":"warehouse","tot":"str"},{"t":"set","p":"payload.sensor","pt":"msg","to":"SHT31","tot":"str"},{"t":"set","p":"payload.moduleID","pt":"msg","to":"A0E8","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"_mcu":{"mcu":true},"x":700,"y":180,"wires":[["eec865344ef22d49"]]},{"id":"302268cb48cb1c96","type":"function","z":"4f57ad7d8188c7a6","name":"post process","func":"msg.payload.mac = Net.get(\"MAC\");\nmsg.payload.moduleID = msg.payload.mac.substr(12, 2) + msg.payload.mac.substr(15);\n\nmsg.payload.thermometer.temperature = (Math.round(msg.payload.thermometer.temperature * 100)) / 100;\nmsg.payload.hygrometer.humidity = (Math.round(msg.payload.hygrometer.humidity * 100)) / 100;\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[{"var":"Net","module":"net"}],"_mcu":{"mcu":true},"x":530,"y":180,"wires":[["15f3f78d5ca08693"]]},{"id":"8c1a11232c91c1c8","type":"sensor","z":"4f57ad7d8188c7a6","name":"","platform":"","module":"embedded:sensor/Humidity-Temperature/SHT3x","options":{"sensor":{"io":"I2C","bus":"default","address":"0x44"}},"configuration":"{}","moddable_manifest":{"include":["$(MODDABLE)/modules/drivers/sensors/sht3x/manifest.json"]},"_mcu":{"mcu":true},"x":250,"y":160,"wires":[["ae5c2ed5eb2c2b8d"]]},{"id":"eec865344ef22d49","type":"debug","z":"4f57ad7d8188c7a6","name":"debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","_mcu":{"mcu":true},"x":850,"y":180,"wires":[]}]