はじめてのNode-RED_MCU-Edition/10-1_flow-Blink.json
[{"id":"066129a3e980fb88","type":"tab","label":"01 Blink","disabled":false,"info":"","env":[],"_mcu":{"mcu":true}},{"id":"65456b542ee1e22d","type":"mcu_digital_out","z":"066129a3e980fb88","name":"","pin":"26","mode":"Output","initial":"undefined","_mcu":{"mcu":true},"x":630,"y":160,"wires":[]},{"id":"5af92b19b9e69ed6","type":"inject","z":"066129a3e980fb88","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","_mcu":{"mcu":true},"x":190,"y":160,"wires":[["f56e4de604eec484"]]},{"id":"f56e4de604eec484","type":"trigger","z":"066129a3e980fb88","name":"","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"500","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"_mcu":{"mcu":true},"x":420,"y":160,"wires":[["65456b542ee1e22d"]]}]