はじめてのNode-RED_MCU-Edition/10-2_flow-Blink+Button.json
[{"id":"e47ac2fa5fa129c0","type":"tab","label":"02 brink+button","disabled":false,"info":"","env":[],"_mcu":{"mcu":true}},{"id":"543db520c8116fdf","type":"mcu_digital_out","z":"e47ac2fa5fa129c0","name":"","pin":"26","mode":"Output","initial":"undefined","_mcu":{"mcu":true},"x":630,"y":160,"wires":[]},{"id":"c66c2d349ae5fa53","type":"inject","z":"e47ac2fa5fa129c0","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","_mcu":{"mcu":true},"x":190,"y":160,"wires":[["d3cf4ea9c6a6ab63"]]},{"id":"d3cf4ea9c6a6ab63","type":"trigger","z":"e47ac2fa5fa129c0","name":"","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"500","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"_mcu":{"mcu":true},"x":420,"y":160,"wires":[["543db520c8116fdf"]]},{"id":"63c433d6e0fc03fc","type":"mcu_digital_in","z":"e47ac2fa5fa129c0","name":"","pin":"12","mode":"InputPullUp","edge":"3","debounce":"50","initial":false,"_mcu":{"mcu":true},"x":190,"y":240,"wires":[["fa83113125f975b8"]]},{"id":"fa83113125f975b8","type":"mcu_digital_out","z":"e47ac2fa5fa129c0","name":"","pin":"27","mode":"Output","initial":"1","_mcu":{"mcu":true},"x":630,"y":240,"wires":[]}]