はじめてのNode-RED_MCU-Edition/10-3_flow-PWM.json
[{"id":"7bc601c12f6c7464","type":"tab","label":"03 PWM","disabled":false,"info":"","env":[],"_mcu":{"mcu":true}},{"id":"7b727f314c035596","type":"junction","z":"7bc601c12f6c7464","x":520,"y":260,"wires":[["03d77811761a22a2","fcaa767808cce2e0"]]},{"id":"b7852b6ce6926d7f","type":"mcu_digital_in","z":"7bc601c12f6c7464","name":"","pin":"14","mode":"InputPullUp","edge":"1","debounce":"50","initial":false,"_mcu":{"mcu":true},"x":170,"y":240,"wires":[["6523c123025067e5"]]},{"id":"7ee93bdadc53474e","type":"mcu_digital_in","z":"7bc601c12f6c7464","name":"","pin":"12","mode":"InputPullUp","edge":"1","debounce":"50","initial":false,"_mcu":{"mcu":true},"x":170,"y":300,"wires":[["9841ca10ce3790f0"]]},{"id":"03d77811761a22a2","type":"mcu_pwm_out","z":"7bc601c12f6c7464","name":"","pin":"27","hz":"","_mcu":{"mcu":true},"x":650,"y":260,"wires":[]},{"id":"441ca08457a4b292","type":"inject","z":"7bc601c12f6c7464","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","_mcu":{"mcu":true},"x":190,"y":180,"wires":[["40264f2d6c6f2508"]]},{"id":"052e82ff68ff6c0c","type":"mcu_digital_out","z":"7bc601c12f6c7464","name":"","pin":"26","mode":"Output","initial":"undefined","_mcu":{"mcu":true},"x":650,"y":180,"wires":[]},{"id":"6523c123025067e5","type":"function","z":"7bc601c12f6c7464","name":"inc PWM","func":"let pwm = flow.get('pwm');\nif (pwm == null) {\n    pwm = 0.5;\n}\n\npwm = Math.round(pwm*100+5)/100;\nif (pwm > 1 ){\n    pwm = 1;\n} \n\nflow.set('pwm', pwm);\nmsg.payload = pwm;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"_mcu":{"mcu":true},"x":400,"y":240,"wires":[["7b727f314c035596"]]},{"id":"9841ca10ce3790f0","type":"function","z":"7bc601c12f6c7464","name":"dec PWM","func":"let pwm = flow.get('pwm');\nif (pwm == null) {\n    pwm = 0.5;\n}\n\npwm = Math.round(pwm*100-5)/100;\nif (pwm < 0 ){\n    pwm = 0;\n} \n\nflow.set('pwm', pwm);\nmsg.payload = pwm;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"_mcu":{"mcu":true},"x":400,"y":300,"wires":[["7b727f314c035596"]]},{"id":"fcaa767808cce2e0","type":"debug","z":"7bc601c12f6c7464","name":"debug","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","_mcu":{"mcu":true},"x":630,"y":320,"wires":[]},{"id":"40264f2d6c6f2508","type":"trigger","z":"7bc601c12f6c7464","name":"","op1":"0","op2":"1","op1type":"str","op2type":"str","duration":"500","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"_mcu":{"mcu":true},"x":420,"y":180,"wires":[["052e82ff68ff6c0c"]]}]