はじめてのNode-RED_MCU-Edition/10-4_flow-sensor.json
[{"id":"842aebd7f7ba0339","type":"tab","label":"04 sensor","disabled":false,"info":"","env":[],"_mcu":{"mcu":true}},{"id":"fc72204e1737a2d3","type":"mcu_digital_out","z":"842aebd7f7ba0339","name":"BLUE LED","pin":"26","mode":"Output","initial":"undefined","_mcu":{"mcu":true},"x":550,"y":140,"wires":[]},{"id":"1dd6e78bf6f1bc3a","type":"trigger","z":"842aebd7f7ba0339","name":"","op1":"0","op2":"1","op1type":"str","op2type":"str","duration":"200","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"_mcu":{"mcu":true},"x":360,"y":140,"wires":[["fc72204e1737a2d3"]]},{"id":"e899879e5a099136","type":"change","z":"842aebd7f7ba0339","name":"set properties","rules":[{"t":"set","p":"payload.thermometer.unit","pt":"msg","to":"°C","tot":"str"},{"t":"set","p":"payload.hygrometer.unit","pt":"msg","to":"%","tot":"str"},{"t":"move","p":"timestamp","pt":"msg","to":"payload.timestamp","tot":"msg"},{"t":"set","p":"payload.location","pt":"msg","to":"kitchen","tot":"str"},{"t":"set","p":"payload.sensor","pt":"msg","to":"SHT31","tot":"str"},{"t":"set","p":"payload.moduleID","pt":"msg","to":"A0E8","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"_mcu":{"mcu":true},"x":620,"y":240,"wires":[["b6afd5e6b417b1ab"]]},{"id":"6098e96b1ad3705b","type":"inject","z":"842aebd7f7ba0339","name":"","props":[{"p":"timestamp","v":"","vt":"date"},{"p":"topic","vt":"str"}],"repeat":"3","crontab":"","once":true,"onceDelay":0.1,"topic":"","_mcu":{"mcu":true},"x":150,"y":220,"wires":[["1dd6e78bf6f1bc3a","21eef375d5ba340c"]]},{"id":"01b6ac81c2612de6","type":"switch","z":"842aebd7f7ba0339","name":"","property":"payload","propertyType":"msg","rules":[{"t":"hask","v":"simulated","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"_mcu":{"mcu":true},"x":430,"y":220,"wires":[["8b8aeb32ca8f3981"],["e899879e5a099136"]]},{"id":"8b8aeb32ca8f3981","type":"debug","z":"842aebd7f7ba0339","name":"simulated","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","_mcu":{"mcu":true},"x":600,"y":200,"wires":[]},{"id":"b6afd5e6b417b1ab","type":"debug","z":"842aebd7f7ba0339","name":"debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","_mcu":{"mcu":true},"x":790,"y":240,"wires":[]},{"id":"21eef375d5ba340c","type":"sensor","z":"842aebd7f7ba0339","name":"","platform":"","module":"embedded:sensor/Humidity-Temperature/SHT3x","options":{"sensor":{"io":"I2C","bus":"default","address":"0x44"}},"configuration":"{}","moddable_manifest":{"include":["$(MODDABLE)/modules/drivers/sensors/sht3x/manifest.json"]},"_mcu":{"mcu":true},"x":310,"y":220,"wires":[["01b6ac81c2612de6"]]}]