はじめてのNode-RED_MCU-Edition/10-5_PcFlow-sensor-MQTT.json
[{"id":"f19fd6f7808c62fc","type":"tab","label":"05 PC sensor-MQTT","disabled":false,"info":"","env":[],"_mcu":{"mcu":false}},{"id":"541fa3b796974f6c","type":"mqtt in","z":"f19fd6f7808c62fc","name":"","topic":"/nrmcu/data","qos":"2","datatype":"auto-detect","broker":"49d3564c80f2ab34","nl":false,"rap":true,"rh":0,"inputs":0,"_mcu":{"mcu":false},"x":150,"y":240,"wires":[["6815a23cf512620f","974f0d0f46ecf2c6","12d976bf41375c94"]]},{"id":"6815a23cf512620f","type":"debug","z":"f19fd6f7808c62fc","name":"MQTT in","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","_mcu":{"mcu":false},"x":400,"y":180,"wires":[]},{"id":"e6261e7b9220b105","type":"comment","z":"f19fd6f7808c62fc","name":"これはPC側で実行している受信用フローです","info":"","_mcu":{"mcu":false},"x":250,"y":140,"wires":[]},{"id":"974f0d0f46ecf2c6","type":"change","z":"f19fd6f7808c62fc","name":"pick up temp","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.thermometer.temperature","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"_mcu":{"mcu":false},"x":410,"y":220,"wires":[["b614c8eb236f1075"]]},{"id":"12d976bf41375c94","type":"change","z":"f19fd6f7808c62fc","name":"pick up humid","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.hygrometer.humidity","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"_mcu":{"mcu":false},"x":420,"y":260,"wires":[["22656fee31249267"]]},{"id":"b614c8eb236f1075","type":"ui_chart","z":"f19fd6f7808c62fc","name":"","group":"36371a0d81b1bf74","order":1,"width":0,"height":0,"label":"temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","_mcu":{"mcu":false},"x":610,"y":220,"wires":[[]]},{"id":"22656fee31249267","type":"ui_chart","z":"f19fd6f7808c62fc","name":"","group":"36371a0d81b1bf74","order":2,"width":0,"height":0,"label":"humidity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","_mcu":{"mcu":false},"x":600,"y":260,"wires":[[]]},{"id":"49d3564c80f2ab34","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":"","_mcu":{"mcu":false}},{"id":"36371a0d81b1bf74","type":"ui_group","name":"sensor chart","tab":"c1998e952854fc5d","order":1,"disp":true,"width":"7","collapse":true,"className":"","_mcu":{"mcu":false}},{"id":"c1998e952854fc5d","type":"ui_tab","name":"Node-RED MCU 1","icon":"dashboard","order":1,"disabled":false,"hidden":false,"_mcu":{"mcu":false}}]