はじめてのNode-RED_MCU-Edition/10-5_DeviceFlow-sensor-MQTT.json
[{"id":"805e00c0520d2aad","type":"tab","label":"05 Device sensor-MQTT","disabled":false,"info":"","env":[],"_mcu":{"mcu":true}},{"id":"25bb0c32a2fb84bb","type":"mcu_digital_out","z":"805e00c0520d2aad","name":"BLUE LED","pin":"26","mode":"Output","initial":"undefined","_mcu":{"mcu":true},"x":550,"y":180,"wires":[]},{"id":"c57014df22ab3507","type":"trigger","z":"805e00c0520d2aad","name":"","op1":"0","op2":"1","op1type":"str","op2type":"str","duration":"200","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"_mcu":{"mcu":true},"x":360,"y":180,"wires":[["25bb0c32a2fb84bb"]]},{"id":"e16c1015e1ea7ab0","type":"change","z":"805e00c0520d2aad","name":"set properties","rules":[{"t":"set","p":"payload.thermometer.unit","pt":"msg","to":"°C","tot":"str"},{"t":"set","p":"payload.hygrometer.unit","pt":"msg","to":"%","tot":"str"},{"t":"move","p":"timestamp","pt":"msg","to":"payload.timestamp","tot":"msg"},{"t":"set","p":"payload.location","pt":"msg","to":"kitchen","tot":"str"},{"t":"set","p":"payload.sensor","pt":"msg","to":"SHT31","tot":"str"},{"t":"set","p":"payload.moduleID","pt":"msg","to":"A0E8","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"_mcu":{"mcu":true},"x":620,"y":280,"wires":[["fd8de0469a254cf2","13552b3d74fde046"]]},{"id":"202652ddc6d4e545","type":"inject","z":"805e00c0520d2aad","name":"","props":[{"p":"timestamp","v":"","vt":"date"},{"p":"topic","vt":"str"}],"repeat":"3","crontab":"","once":true,"onceDelay":0.1,"topic":"","_mcu":{"mcu":true},"x":150,"y":260,"wires":[["c57014df22ab3507","e53e7eb5e8692e8c"]]},{"id":"d1e534328b9862ab","type":"switch","z":"805e00c0520d2aad","name":"","property":"payload","propertyType":"msg","rules":[{"t":"hask","v":"simulated","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"_mcu":{"mcu":true},"x":430,"y":260,"wires":[["dbeb87a25f670dcf"],["e16c1015e1ea7ab0"]]},{"id":"dbeb87a25f670dcf","type":"debug","z":"805e00c0520d2aad","name":"simulated","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","_mcu":{"mcu":true},"x":600,"y":240,"wires":[]},{"id":"fd8de0469a254cf2","type":"mqtt out","z":"805e00c0520d2aad","name":"","topic":"/nrmcu/data","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"7e39c094da127a6d","_mcu":{"mcu":true},"x":810,"y":280,"wires":[]},{"id":"13552b3d74fde046","type":"debug","z":"805e00c0520d2aad","name":"debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","_mcu":{"mcu":true},"x":790,"y":240,"wires":[]},{"id":"e53e7eb5e8692e8c","type":"sensor","z":"805e00c0520d2aad","name":"","platform":"","module":"embedded:sensor/Humidity-Temperature/SHT3x","options":{"sensor":{"io":"I2C","bus":"default","address":"0x44"}},"configuration":"{}","moddable_manifest":{"include":["$(MODDABLE)/modules/drivers/sensors/sht3x/manifest.json"]},"_mcu":{"mcu":true},"x":310,"y":260,"wires":[["d1e534328b9862ab"]]},{"id":"7e39c094da127a6d","type":"mqtt-broker","name":"","broker":"192.168.1.17","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":"","_mcu":{"mcu":false}}]