はじめてのNode-RED_MCU-Edition/10-6_DeviceFlow-sensor-module.json
[{"id":"dcfac57a50b7598d","type":"tab","label":"06 Device sensor module","disabled":false,"info":"","env":[],"_mcu":{"mcu":true}},{"id":"f28ff6172752316a","type":"mcu_digital_out","z":"dcfac57a50b7598d","name":"BLUE LED","pin":"26","mode":"Output","initial":"undefined","_mcu":{"mcu":true},"x":570,"y":140,"wires":[]},{"id":"ff623e612c2f7048","type":"inject","z":"dcfac57a50b7598d","name":"","props":[{"p":"timestamp","v":"","vt":"date"},{"p":"topic","vt":"str"}],"repeat":"3","crontab":"","once":true,"onceDelay":0.1,"topic":"","_mcu":{"mcu":true},"x":190,"y":220,"wires":[["07e1662fd1d27abf","d44dda6abc9d2adc"]]},{"id":"78b3037ac91c971a","type":"switch","z":"dcfac57a50b7598d","name":"","property":"payload.sensor_enable","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"_mcu":{"mcu":true},"x":390,"y":540,"wires":[["decf7fe33cf24092"],["3eb7a14f61f3b404"]]},{"id":"decf7fe33cf24092","type":"change","z":"dcfac57a50b7598d","name":"ON","rules":[{"t":"set","p":"sensor_enable","pt":"flow","to":"true","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"_mcu":{"mcu":true},"x":590,"y":520,"wires":[["a8f23cc31bc32672"]]},{"id":"3eb7a14f61f3b404","type":"change","z":"dcfac57a50b7598d","name":"OFF","rules":[{"t":"set","p":"sensor_enable","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"_mcu":{"mcu":true},"x":590,"y":580,"wires":[["a8f23cc31bc32672"]]},{"id":"a8f23cc31bc32672","type":"mcu_digital_out","z":"dcfac57a50b7598d","name":"RED LED","pin":"27","mode":"Output","initial":"1","_mcu":{"mcu":true},"x":940,"y":540,"wires":[]},{"id":"7a767ba06563af4d","type":"mqtt in","z":"dcfac57a50b7598d","name":"","topic":"/nrmcu/downlink","qos":"2","datatype":"json","broker":"7e39c094da127a6d","nl":false,"rap":true,"rh":0,"inputs":0,"_mcu":{"mcu":true},"x":200,"y":540,"wires":[["78b3037ac91c971a"]]},{"id":"19261befe9fc32ec","type":"switch","z":"dcfac57a50b7598d","name":"","property":"payload","propertyType":"msg","rules":[{"t":"hask","v":"simulated","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"_mcu":{"mcu":true},"x":450,"y":220,"wires":[["ee9f62f4aa78a786"],["c3e5bff98c1ce05b"]]},{"id":"84c45a983490b803","type":"switch","z":"dcfac57a50b7598d","name":"Gate","property":"sensor_enable","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"_mcu":{"mcu":true},"x":890,"y":240,"wires":[["c96b3a28b6b0a1da"]]},{"id":"f0e431d7c82173a4","type":"mcu_digital_in","z":"dcfac57a50b7598d","name":"OFF button","pin":"14","mode":"InputPullUp","edge":"1","debounce":"30","initial":false,"_mcu":{"mcu":true},"x":290,"y":400,"wires":[["3eb7a14f61f3b404","e19edca9f570b075"]]},{"id":"c1f872c5f292a01b","type":"mcu_digital_in","z":"dcfac57a50b7598d","name":"ON button","pin":"12","mode":"InputPullUp","edge":"1","debounce":"30","initial":false,"_mcu":{"mcu":true},"x":280,"y":340,"wires":[["decf7fe33cf24092","69331ae7c249e6d7"]]},{"id":"c96b3a28b6b0a1da","type":"mqtt out","z":"dcfac57a50b7598d","name":"","topic":"nrmcu/uplink","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"7e39c094da127a6d","_mcu":{"mcu":true},"x":990,"y":360,"wires":[]},{"id":"69331ae7c249e6d7","type":"change","z":"dcfac57a50b7598d","name":"UI LED ON","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"ui-LED\":true}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"_mcu":{"mcu":true},"x":590,"y":340,"wires":[["c96b3a28b6b0a1da"]]},{"id":"e19edca9f570b075","type":"change","z":"dcfac57a50b7598d","name":"UI LED OFF","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"ui-LED\":false}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"_mcu":{"mcu":true},"x":590,"y":400,"wires":[["c96b3a28b6b0a1da"]]},{"id":"ee9f62f4aa78a786","type":"debug","z":"dcfac57a50b7598d","name":"simulated","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","_mcu":{"mcu":true},"x":600,"y":200,"wires":[]},{"id":"07e1662fd1d27abf","type":"trigger","z":"dcfac57a50b7598d","name":"","op1":"0","op2":"1","op1type":"str","op2type":"str","duration":"200","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"_mcu":{"mcu":true},"x":380,"y":140,"wires":[["f28ff6172752316a"]]},{"id":"3a19d645c6c96584","type":"change","z":"dcfac57a50b7598d","name":"set properties","rules":[{"t":"set","p":"payload.thermometer.unit","pt":"msg","to":"°C","tot":"str"},{"t":"set","p":"payload.hygrometer.unit","pt":"msg","to":"%","tot":"str"},{"t":"move","p":"timestamp","pt":"msg","to":"payload.timestamp","tot":"msg"},{"t":"set","p":"payload.location","pt":"msg","to":"kitchen","tot":"str"},{"t":"set","p":"payload.sensor","pt":"msg","to":"SHT31","tot":"str"},{"t":"set","p":"payload.moduleID","pt":"msg","to":"A0E8","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"_mcu":{"mcu":true},"x":740,"y":240,"wires":[["84c45a983490b803"]]},{"id":"c3e5bff98c1ce05b","type":"function","z":"dcfac57a50b7598d","name":"round","func":"msg.payload.thermometer.temperature = (Math.round(msg.payload.thermometer.temperature * 100)) / 100;\nmsg.payload.hygrometer.humidity = (Math.round(msg.payload.hygrometer.humidity * 100)) / 100;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"_mcu":{"mcu":true},"x":590,"y":240,"wires":[["3a19d645c6c96584"]]},{"id":"d44dda6abc9d2adc","type":"sensor","z":"dcfac57a50b7598d","name":"","platform":"","module":"embedded:sensor/Humidity-Temperature/SHT3x","options":{"sensor":{"io":"I2C","bus":"default","address":"0x44"}},"configuration":"{}","moddable_manifest":{"include":["$(MODDABLE)/modules/drivers/sensors/sht3x/manifest.json"]},"_mcu":{"mcu":true},"x":330,"y":220,"wires":[["19261befe9fc32ec"]]},{"id":"7e39c094da127a6d","type":"mqtt-broker","name":"","broker":"192.168.1.17","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":"","_mcu":{"mcu":false}}]