はじめてのNode-RED_MCU-Edition/10-6_PcFlow-sensor-module.json
[{"id":"cd76053285c8c4a4","type":"tab","label":"06 PC sensor module","disabled":false,"info":"","env":[],"_mcu":{"mcu":false}},{"id":"726037ad34658117","type":"comment","z":"cd76053285c8c4a4","name":"これはPC側で実行しているフローです","info":"","_mcu":{"mcu":false},"x":230,"y":160,"wires":[]},{"id":"71edf371d6feee46","type":"change","z":"cd76053285c8c4a4","name":"temp","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.thermometer.temperature","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"_mcu":{"mcu":false},"x":550,"y":240,"wires":[["857256b2a14a8d13"]]},{"id":"7086c4aacdb52a75","type":"change","z":"cd76053285c8c4a4","name":"humid","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.hygrometer.humidity","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"_mcu":{"mcu":false},"x":550,"y":280,"wires":[["75d957e4508e5114"]]},{"id":"857256b2a14a8d13","type":"ui_chart","z":"cd76053285c8c4a4","name":"","group":"509c0d5bc80d2bbe","order":6,"width":7,"height":4,"label":"temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","_mcu":{"mcu":false},"x":890,"y":240,"wires":[[]]},{"id":"75d957e4508e5114","type":"ui_chart","z":"cd76053285c8c4a4","name":"","group":"509c0d5bc80d2bbe","order":7,"width":7,"height":4,"label":"humidity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","_mcu":{"mcu":false},"x":880,"y":280,"wires":[[]]},{"id":"08f1ced006b57259","type":"ui_button","z":"cd76053285c8c4a4","name":"","group":"509c0d5bc80d2bbe","order":2,"width":2,"height":1,"passthru":true,"label":"ON","tooltip":"","color":"red","bgcolor":"lightgreen","className":"","icon":"","payload":"{\"sensor_enable\":true}","payloadType":"json","topic":"topic","topicType":"msg","_mcu":{"mcu":false},"x":310,"y":500,"wires":[["28c2349cf2694f59","c81af8a482088694"]]},{"id":"cbbc49163fd200e2","type":"ui_button","z":"cd76053285c8c4a4","name":"","group":"509c0d5bc80d2bbe","order":3,"width":2,"height":1,"passthru":true,"label":"OFF","tooltip":"","color":"reg","bgcolor":"lightgray","className":"","icon":"","payload":"{\"sensor_enable\":false}","payloadType":"json","topic":"topic","topicType":"msg","_mcu":{"mcu":false},"x":310,"y":540,"wires":[["28c2349cf2694f59","c36fe4b1063b0fbe"]]},{"id":"28c2349cf2694f59","type":"rbe","z":"cd76053285c8c4a4","name":"filter-JIC","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","topi":"topic","_mcu":{"mcu":false},"x":580,"y":520,"wires":[["1fc133dfcd4527b9","6879b1b91d3ef438"]]},{"id":"1fc133dfcd4527b9","type":"mqtt out","z":"cd76053285c8c4a4","name":"","topic":"/nrmcu/downlink","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"49d3564c80f2ab34","_mcu":{"mcu":false},"x":780,"y":520,"wires":[]},{"id":"de90284c59d2b35d","type":"ui_button","z":"cd76053285c8c4a4","name":"","group":"509c0d5bc80d2bbe","order":5,"width":4,"height":1,"passthru":false,"label":"clear chart","tooltip":"","color":"black","bgcolor":"lightblue","className":"","icon":"","payload":"[]","payloadType":"json","topic":"topic","topicType":"msg","_mcu":{"mcu":false},"x":690,"y":200,"wires":[["857256b2a14a8d13","75d957e4508e5114"]]},{"id":"c81af8a482088694","type":"change","z":"cd76053285c8c4a4","name":"true","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"_mcu":{"mcu":false},"x":570,"y":380,"wires":[["5c328540a1dab4dc"]]},{"id":"c36fe4b1063b0fbe","type":"change","z":"cd76053285c8c4a4","name":"false","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"_mcu":{"mcu":false},"x":570,"y":420,"wires":[["5c328540a1dab4dc"]]},{"id":"5c328540a1dab4dc","type":"ui_led","z":"cd76053285c8c4a4","order":1,"group":"509c0d5bc80d2bbe","width":3,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#808080","value":"false","valueType":"bool"},{"color":"#ff0000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"","_mcu":{"mcu":false},"x":810,"y":400,"wires":[]},{"id":"5b524e594315a47e","type":"mqtt in","z":"cd76053285c8c4a4","name":"","topic":"nrmcu/uplink","qos":"2","datatype":"json","broker":"49d3564c80f2ab34","nl":false,"rap":true,"rh":0,"inputs":0,"_mcu":{"mcu":false},"x":150,"y":340,"wires":[["c8dbd4b90388fe9a","de1dca23b2194e10","ce1b4c0da96aab6f"]]},{"id":"c8dbd4b90388fe9a","type":"switch","z":"cd76053285c8c4a4","name":"LED","property":"payload.ui-LED","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"_mcu":{"mcu":false},"x":350,"y":400,"wires":[["c81af8a482088694"],["c36fe4b1063b0fbe"]]},{"id":"de1dca23b2194e10","type":"switch","z":"cd76053285c8c4a4","name":"SENSOR","property":"payload.sensor","propertyType":"msg","rules":[{"t":"eq","v":"SHT31","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"_mcu":{"mcu":false},"x":360,"y":260,"wires":[["71edf371d6feee46","7086c4aacdb52a75","02e80b97e8148e68"]]},{"id":"cbbbbfe4b5d77a8a","type":"file","z":"cd76053285c8c4a4","name":"","filename":"filename","filenameType":"msg","appendNewline":false,"createDir":false,"overwriteFile":"false","encoding":"none","_mcu":{"mcu":false},"x":700,"y":700,"wires":[["37959839b6d56564"]]},{"id":"50deb5a025de83cc","type":"moment","z":"cd76053285c8c4a4","name":"datetime for filename","topic":"","input":"payload.timestamp","inputType":"msg","inTz":"Asia/Tokyo","adjAmount":0,"adjType":"days","adjDir":"add","format":"YYYY-MM-DD","locale":"ja-JP","output":"payload.date","outputType":"msg","outTz":"Asia/Tokyo","_mcu":{"mcu":false},"x":260,"y":640,"wires":[["9a39d68571799e88"]]},{"id":"37959839b6d56564","type":"debug","z":"cd76053285c8c4a4","name":"file","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","_mcu":{"mcu":false},"x":850,"y":700,"wires":[]},{"id":"4270cb318fcae0f7","type":"change","z":"cd76053285c8c4a4","name":"file name","rules":[{"t":"set","p":"filename","pt":"msg","to":"msg.filepath &\tmsg.payload.moduleID & \"-\" &\tmsg.payload.sensor & \"-\" &\tmsg.payload.location & \"_\" &\tmsg.payload.date &\t\".csv\"","tot":"jsonata"},{"t":"move","p":"payload.thermometer.temperature","pt":"msg","to":"payload.temperature","tot":"msg"},{"t":"move","p":"payload.hygrometer.humidity","pt":"msg","to":"payload.humidity","tot":"msg"},{"t":"move","p":"payload.thermometer.unit","pt":"msg","to":"payload.temp-unit","tot":"msg"},{"t":"move","p":"payload.hygrometer.unit","pt":"msg","to":"payload.humid-unit","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"_mcu":{"mcu":false},"x":400,"y":700,"wires":[["57d1e9c947803948"]]},{"id":"57d1e9c947803948","type":"csv","z":"cd76053285c8c4a4","name":"","sep":",","hdrin":true,"hdrout":"none","multi":"one","ret":"\\n","temp":"datetime,temperature,temp-unit,humidity,humid-unit","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","_mcu":{"mcu":false},"x":550,"y":700,"wires":[["cbbbbfe4b5d77a8a"]]},{"id":"ebc5c22c2826bba8","type":"change","z":"cd76053285c8c4a4","name":"file path","rules":[{"t":"set","p":"filepath","pt":"msg","to":"/home/mshioji/sensordata/","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"_mcu":{"mcu":false},"x":240,"y":700,"wires":[["4270cb318fcae0f7"]]},{"id":"02e80b97e8148e68","type":"link out","z":"cd76053285c8c4a4","name":"link out 1","mode":"link","links":["b6db28d3cdb2afe0"],"_mcu":{"mcu":false},"x":515,"y":200,"wires":[]},{"id":"b6db28d3cdb2afe0","type":"link in","z":"cd76053285c8c4a4","name":"link in 1","links":["02e80b97e8148e68"],"_mcu":{"mcu":false},"x":95,"y":640,"wires":[["50deb5a025de83cc"]]},{"id":"9a39d68571799e88","type":"moment","z":"cd76053285c8c4a4","name":"timestamp string","topic":"","input":"payload.timestamp","inputType":"msg","inTz":"Asia/Tokyo","adjAmount":0,"adjType":"days","adjDir":"add","format":"YYYY-MM-DDTHH:mm:ss.SSSZ","locale":"ja-JP","output":"payload.datetime","outputType":"msg","outTz":"Asia/Tokyo","_mcu":{"mcu":false},"x":480,"y":640,"wires":[["ebc5c22c2826bba8"]]},{"id":"6879b1b91d3ef438","type":"debug","z":"cd76053285c8c4a4","name":"MQTT out","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","_mcu":{"mcu":false},"x":760,"y":480,"wires":[]},{"id":"46865441db3b9c8a","type":"comment","z":"cd76053285c8c4a4","name":"ファイルの保存場所を設定","info":"受信したファイルを保存する場所を設定してください。\nWindows\n\n","_mcu":{"mcu":false},"x":190,"y":740,"wires":[]},{"id":"ce1b4c0da96aab6f","type":"debug","z":"cd76053285c8c4a4","name":"MQTT in","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","_mcu":{"mcu":false},"x":180,"y":440,"wires":[]},{"id":"509c0d5bc80d2bbe","type":"ui_group","name":"sensor module","tab":"865b151330d98123","order":2,"disp":true,"width":"7","collapse":true,"className":""},{"id":"49d3564c80f2ab34","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":"","_mcu":{"mcu":false}},{"id":"865b151330d98123","type":"ui_tab","name":"Node-RED MCU 2","icon":"dashboard","order":2,"disabled":false,"hidden":false}]