はじめてのNode-RED_MCU-Edition/10-7_flow-pwmLight.json
[{"id":"e5327c6bb322e550","type":"tab","label":"07 pwm-Light","disabled":false,"info":"","env":[],"_mcu":{"mcu":true}},{"id":"e134a8b9e98fa535","type":"junction","z":"e5327c6bb322e550","x":520,"y":200,"wires":[["f9a93f10f8a6283d","c5ae03e3793393e1"]]},{"id":"9b1f0982c1a0bff4","type":"mcu_digital_in","z":"e5327c6bb322e550","name":"","pin":"14","mode":"InputPullUp","edge":"1","debounce":"30","initial":false,"_mcu":{"mcu":true},"x":170,"y":160,"wires":[["dc9a56094db8b1de"]]},{"id":"3fb1f26f817e31f1","type":"mcu_digital_in","z":"e5327c6bb322e550","name":"","pin":"12","mode":"InputPullUp","edge":"1","debounce":"30","initial":false,"_mcu":{"mcu":true},"x":170,"y":220,"wires":[["f6066eeba5297b37"]]},{"id":"f9a93f10f8a6283d","type":"mcu_pwm_out","z":"e5327c6bb322e550","name":"RED LED - PWM","pin":"27","hz":"","_mcu":{"mcu":true},"x":690,"y":160,"wires":[]},{"id":"c5ae03e3793393e1","type":"range","z":"e5327c6bb322e550","minin":"0","maxin":"1","minout":"1","maxout":"0","action":"scale","round":false,"property":"payload","name":"","_mcu":{"mcu":true},"x":650,"y":220,"wires":[["98aa33509617adb0"]]},{"id":"98aa33509617adb0","type":"mcu_pwm_out","z":"e5327c6bb322e550","name":"","pin":"19","hz":"","_mcu":{"mcu":true},"x":790,"y":220,"wires":[]},{"id":"dc9a56094db8b1de","type":"function","z":"e5327c6bb322e550","name":"inc PWM","func":"let pwm = flow.get('pwm');\nif (pwm == null) {\n    pwm = 0.5;\n}\n\npwm = Math.round(pwm*100+5)/100;\nif (pwm > 1 ){\n    pwm = 1;\n} \n\nflow.set('pwm', pwm);\nmsg.payload = pwm;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"_mcu":{"mcu":true},"x":380,"y":160,"wires":[["e134a8b9e98fa535"]]},{"id":"f6066eeba5297b37","type":"function","z":"e5327c6bb322e550","name":"dec PWM","func":"let pwm = flow.get('pwm');\nif (pwm == null) {\n    pwm = 0.5;\n}\n\npwm = Math.round(pwm*100-5)/100;\nif (pwm < 0 ){\n    pwm = 0;\n} \n\nflow.set('pwm', pwm);\nmsg.payload = pwm;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"_mcu":{"mcu":true},"x":380,"y":220,"wires":[["e134a8b9e98fa535"]]}]