はじめてのNode-RED_MCU-Edition/10-8_flow-mistControl.json
[{"id":"a8db8e3fbd91790c","type":"tab","label":"08 mist Control","disabled":false,"info":"","env":[],"_mcu":{"mcu":true}},{"id":"fa53a76dcee0b4f0","type":"junction","z":"a8db8e3fbd91790c","x":520,"y":180,"wires":[["1917b94dd40ab5d3","cb7158a0ba509752"]]},{"id":"8d6334663a9faf6b","type":"mcu_digital_in","z":"a8db8e3fbd91790c","name":"","pin":"12","mode":"InputPullUp","edge":"1","debounce":"100","initial":false,"_mcu":{"mcu":true},"x":230,"y":140,"wires":[["07118ba83fe90687"]]},{"id":"1fda77c12742d917","type":"mcu_digital_out","z":"a8db8e3fbd91790c","name":"BLUE LED","pin":"26","mode":"Output","initial":"1","_mcu":{"mcu":true},"x":770,"y":140,"wires":[]},{"id":"cb7158a0ba509752","type":"mcu_digital_out","z":"a8db8e3fbd91790c","name":"","pin":"18","mode":"Output","initial":"0","_mcu":{"mcu":true},"x":650,"y":220,"wires":[]},{"id":"1917b94dd40ab5d3","type":"function","z":"a8db8e3fbd91790c","name":"invert","func":"msg.payload = !msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"_mcu":{"mcu":true},"x":630,"y":140,"wires":[["1fda77c12742d917"]]},{"id":"07118ba83fe90687","type":"change","z":"a8db8e3fbd91790c","name":"true","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"_mcu":{"mcu":true},"x":410,"y":140,"wires":[["fa53a76dcee0b4f0"]]},{"id":"5239d3aa5f56a9cb","type":"change","z":"a8db8e3fbd91790c","name":"false","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"_mcu":{"mcu":true},"x":410,"y":220,"wires":[["fa53a76dcee0b4f0"]]},{"id":"e87f08c193d0c75b","type":"mcu_digital_in","z":"a8db8e3fbd91790c","name":"","pin":"14","mode":"InputPullUp","edge":"1","debounce":"100","initial":false,"_mcu":{"mcu":true},"x":230,"y":220,"wires":[["5239d3aa5f56a9cb"]]}]