はじめてのNode-RED_MCU-Edition/10-9_PcFlow-mossControl.json
[{"id":"485ef10212f136b1","type":"tab","label":"09 PC moss ctrl","disabled":false,"info":"","env":[],"_mcu":{"mcu":false}},{"id":"bb9bc1a890f7a98a","type":"junction","z":"485ef10212f136b1","x":560,"y":480,"wires":[["898ea218f9675bb2","015c822f203a04db"]]},{"id":"015c822f203a04db","type":"junction","z":"485ef10212f136b1","x":760,"y":600,"wires":[["018476779e97a07a","68e46109b9129e9f"]]},{"id":"20b08ad9f55529b0","type":"debug","z":"485ef10212f136b1","name":"MQTT in","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","_mcu":{"mcu":false},"x":420,"y":220,"wires":[]},{"id":"c4b1f28e375ee948","type":"comment","z":"485ef10212f136b1","name":"これはPC側で実行している受信用フローです","info":"","_mcu":{"mcu":false},"x":290,"y":140,"wires":[]},{"id":"16d6534460e60abb","type":"change","z":"485ef10212f136b1","name":"temp","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.thermometer.temperature","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"_mcu":{"mcu":false},"x":610,"y":240,"wires":[["64abdb16d3e14055"]]},{"id":"b2603ca49aecb375","type":"change","z":"485ef10212f136b1","name":"humid","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.hygrometer.humidity","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"_mcu":{"mcu":false},"x":610,"y":280,"wires":[["a43ba30993d78265"]]},{"id":"64abdb16d3e14055","type":"ui_chart","z":"485ef10212f136b1","name":"","group":"391bc58706ed7030","order":6,"width":7,"height":4,"label":"temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","_mcu":{"mcu":false},"x":930,"y":240,"wires":[[]]},{"id":"a43ba30993d78265","type":"ui_chart","z":"485ef10212f136b1","name":"","group":"391bc58706ed7030","order":7,"width":7,"height":4,"label":"humidity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","_mcu":{"mcu":false},"x":920,"y":280,"wires":[[]]},{"id":"b405c44c7c37ecb1","type":"ui_button","z":"485ef10212f136b1","name":"","group":"391bc58706ed7030","order":3,"width":2,"height":1,"passthru":true,"label":"Mist ON","tooltip":"","color":"red","bgcolor":"lightgreen","className":"","icon":"","payload":"{\"mist\":true}","payloadType":"json","topic":"topic","topicType":"msg","_mcu":{"mcu":false},"x":420,"y":460,"wires":[["bb9bc1a890f7a98a"]]},{"id":"018476779e97a07a","type":"mqtt out","z":"485ef10212f136b1","name":"","topic":"/nrmcu/downlink","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"49d3564c80f2ab34","_mcu":{"mcu":false},"x":880,"y":600,"wires":[]},{"id":"f7f8ab9baa40bc6c","type":"ui_button","z":"485ef10212f136b1","name":"","group":"391bc58706ed7030","order":5,"width":3,"height":1,"passthru":false,"label":"clear chart","tooltip":"","color":"black","bgcolor":"lightblue","className":"","icon":"","payload":"[]","payloadType":"json","topic":"topic","topicType":"msg","_mcu":{"mcu":false},"x":770,"y":320,"wires":[["64abdb16d3e14055","a43ba30993d78265"]]},{"id":"95ce9788d23dbbd9","type":"ui_led","z":"485ef10212f136b1","order":1,"group":"391bc58706ed7030","width":2,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#808080","value":"false","valueType":"bool"},{"color":"#ff0000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"","_mcu":{"mcu":false},"x":910,"y":480,"wires":[]},{"id":"1e0d99760849a9a4","type":"mqtt in","z":"485ef10212f136b1","name":"","topic":"nrmcu/uplink","qos":"2","datatype":"json","broker":"49d3564c80f2ab34","nl":false,"rap":true,"rh":0,"inputs":0,"_mcu":{"mcu":false},"x":230,"y":260,"wires":[["19339f36f63e7240","125c78905f1200ad","20b08ad9f55529b0"]]},{"id":"19339f36f63e7240","type":"switch","z":"485ef10212f136b1","name":"SENSOR","property":"payload.sensor","propertyType":"msg","rules":[{"t":"eq","v":"SHT31","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"_mcu":{"mcu":false},"x":420,"y":260,"wires":[["16d6534460e60abb","b2603ca49aecb375"]]},{"id":"6a2fb8e6daaa4ba5","type":"ui_slider","z":"485ef10212f136b1","name":"","label":"Light","tooltip":"","group":"391bc58706ed7030","order":2,"width":5,"height":1,"passthru":false,"outs":"end","topic":"pwm","topicType":"str","min":0,"max":"100","step":"5","className":"","_mcu":{"mcu":false},"x":350,"y":600,"wires":[["f04187e1e4130e51"]]},{"id":"898ea218f9675bb2","type":"change","z":"485ef10212f136b1","name":"mist","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.mist","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"_mcu":{"mcu":false},"x":790,"y":480,"wires":[["95ce9788d23dbbd9"]]},{"id":"290b169b16b741f7","type":"ui_button","z":"485ef10212f136b1","name":"","group":"391bc58706ed7030","order":4,"width":2,"height":1,"passthru":true,"label":"Mist OFF","tooltip":"","color":"red","bgcolor":"lightgray","className":"","icon":"","payload":"{\"mist\":false}","payloadType":"json","topic":"topic","topicType":"msg","_mcu":{"mcu":false},"x":420,"y":500,"wires":[["bb9bc1a890f7a98a"]]},{"id":"125c78905f1200ad","type":"switch","z":"485ef10212f136b1","name":"","property":"payload","propertyType":"msg","rules":[{"t":"hask","v":"mist","vt":"str"},{"t":"hask","v":"pwm","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"_mcu":{"mcu":false},"x":410,"y":300,"wires":[["898ea218f9675bb2"],["3e2839037e1ab505"]]},{"id":"3e2839037e1ab505","type":"change","z":"485ef10212f136b1","name":"set value","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.pwm * 100","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"_mcu":{"mcu":false},"x":220,"y":600,"wires":[["6a2fb8e6daaa4ba5"]]},{"id":"f04187e1e4130e51","type":"function","z":"485ef10212f136b1","name":"set value","func":"msg.payload={'pwm': msg.payload/100}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"_mcu":{"mcu":false},"x":480,"y":600,"wires":[["10dc5c03b97254f4"]]},{"id":"68e46109b9129e9f","type":"debug","z":"485ef10212f136b1","name":"MQTT out","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","_mcu":{"mcu":false},"x":880,"y":560,"wires":[]},{"id":"10dc5c03b97254f4","type":"rbe","z":"485ef10212f136b1","name":"JIC","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","topi":"topic","_mcu":{"mcu":false},"x":610,"y":600,"wires":[["015c822f203a04db"]]},{"id":"391bc58706ed7030","type":"ui_group","name":"moss ctrl","tab":"4292638e4749491d","order":3,"disp":true,"width":"7","collapse":true,"className":""},{"id":"49d3564c80f2ab34","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":"","_mcu":{"mcu":false}},{"id":"4292638e4749491d","type":"ui_tab","name":"Node-RED MCU 3","icon":"dashboard","order":3,"disabled":false,"hidden":false}]