はじめてのNode-RED_MCU-Edition/10-9_DeviceFlow-mossControl.json
[{"id":"25030fb4a1563227","type":"tab","label":"09 Device MossCtrl","disabled":false,"info":"","env":[],"_mcu":{"mcu":true}},{"id":"36bc91f8709ccc04","type":"junction","z":"25030fb4a1563227","x":700,"y":320,"wires":[["54014ef8d411a822"]]},{"id":"95b6453870c4ec59","type":"mcu_digital_out","z":"25030fb4a1563227","name":"BLUE LED 26","pin":"26","mode":"Output","initial":"undefined","_mcu":{"mcu":true},"x":700,"y":160,"wires":[]},{"id":"39cd3691997af10c","type":"inject","z":"25030fb4a1563227","name":"inject timestamp","props":[{"p":"timestamp","v":"","vt":"date"},{"p":"topic","vt":"str"}],"repeat":"3","crontab":"","once":true,"onceDelay":0.1,"topic":"","_mcu":{"mcu":true},"x":210,"y":220,"wires":[["a0d1f90629ab2e14","7d2b1d1a1667d92a"]]},{"id":"cd115516c05c89f4","type":"mqtt in","z":"25030fb4a1563227","name":"","topic":"/nrmcu/downlink","qos":"2","datatype":"json","broker":"7e39c094da127a6d","nl":false,"rap":true,"rh":0,"inputs":0,"_mcu":{"mcu":true},"x":180,"y":620,"wires":[["afceb45fc2ef59c0"]]},{"id":"b7dca911f75d433e","type":"switch","z":"25030fb4a1563227","name":"","property":"payload","propertyType":"msg","rules":[{"t":"hask","v":"simulated","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"_mcu":{"mcu":true},"x":530,"y":220,"wires":[[],["fc80cd34bbd37524"]]},{"id":"54014ef8d411a822","type":"mqtt out","z":"25030fb4a1563227","name":"","topic":"nrmcu/uplink","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"7e39c094da127a6d","_mcu":{"mcu":true},"x":1050,"y":320,"wires":[]},{"id":"afceb45fc2ef59c0","type":"switch","z":"25030fb4a1563227","name":"","property":"payload","propertyType":"msg","rules":[{"t":"hask","v":"mist","vt":"str"},{"t":"hask","v":"pwm","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"_mcu":{"mcu":true},"x":330,"y":620,"wires":[["d9c6258962c6cfbf"],["9ecae67c18bbabc2"]]},{"id":"c04f8931ed1c1481","type":"mcu_pwm_out","z":"25030fb4a1563227","name":"","pin":"19","hz":"","_mcu":{"mcu":true},"x":1050,"y":540,"wires":[]},{"id":"f73d741df2191a57","type":"mcu_digital_out","z":"25030fb4a1563227","name":"Mist out 18","pin":"18","mode":"Output","initial":"undefined","_mcu":{"mcu":true},"x":1050,"y":480,"wires":[]},{"id":"c749f2735b4b2eed","type":"change","z":"25030fb4a1563227","name":"mist","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.mist","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"_mcu":{"mcu":true},"x":750,"y":480,"wires":[["f73d741df2191a57","6100c188d1dd82ef"]]},{"id":"366bf8d4c0a61c05","type":"mcu_digital_in","z":"25030fb4a1563227","name":"MIST button 14","pin":"14","mode":"InputPullUp","edge":"1","debounce":"50","initial":false,"_mcu":{"mcu":true},"x":180,"y":480,"wires":[["551be9e492b7076c"]]},{"id":"28159783ff8828eb","type":"mcu_digital_in","z":"25030fb4a1563227","name":"LED button 12","pin":"12","mode":"InputPullUp","edge":"1","debounce":"100","initial":false,"invert":false,"_mcu":{"mcu":true},"x":170,"y":540,"wires":[["54166a6b2ce40420"]]},{"id":"54166a6b2ce40420","type":"function","z":"25030fb4a1563227","name":"loop PWM","func":"let value = flow.get('pwm', \"file\");\n\nif (value == null) {\n    value = 0.7;\n}\n\nvalue = Math.round(value*100+5)/100;\nif (value > 1 ){\n    value = 0;\n} \n\nflow.set('pwm', value, \"file\");\nmsg.payload = {\"pwm\":value};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"_mcu":{"mcu":true},"x":390,"y":540,"wires":[["1e056aa6a3dab2f6","36bc91f8709ccc04"]]},{"id":"bb2c4f555f55034b","type":"change","z":"25030fb4a1563227","name":"set properties","rules":[{"t":"set","p":"payload.thermometer.unit","pt":"msg","to":"°C","tot":"str"},{"t":"set","p":"payload.hygrometer.unit","pt":"msg","to":"%","tot":"str"},{"t":"move","p":"timestamp","pt":"msg","to":"payload.timestamp","tot":"msg"},{"t":"set","p":"payload.location","pt":"msg","to":"kitchen","tot":"str"},{"t":"set","p":"payload.sensor","pt":"msg","to":"SHT31","tot":"str"},{"t":"set","p":"payload.moduleID","pt":"msg","to":"A0E8","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"_mcu":{"mcu":true},"x":820,"y":220,"wires":[["54014ef8d411a822"]]},{"id":"1e056aa6a3dab2f6","type":"change","z":"25030fb4a1563227","name":"pwm","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.pwm","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"_mcu":{"mcu":true},"x":750,"y":540,"wires":[["c04f8931ed1c1481"]]},{"id":"551be9e492b7076c","type":"function","z":"25030fb4a1563227","name":"toggle mist","func":"let state = flow.get('mist_state');\n\nif (state == null) {\n    state = false;\n}\n\nstate = !state;\n\nflow.set('mist_state', state);\nmsg.payload = {'mist':state};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"_mcu":{"mcu":true},"x":390,"y":480,"wires":[["c749f2735b4b2eed","36bc91f8709ccc04"]]},{"id":"0e87e6d46a04c2b0","type":"inject","z":"25030fb4a1563227","name":"initialize","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"3","topic":"","payload":"","payloadType":"date","_mcu":{"mcu":true},"x":180,"y":320,"wires":[["f2108de61d3c9789"]]},{"id":"f2108de61d3c9789","type":"function","z":"25030fb4a1563227","name":"state check","func":"// mist_state\nlet state = flow.get('mist_state');\nif (state == null) {\n    state = false;\n    flow.set('mist_state', state);\n}\nmsg.payload = { 'mist': state };\nnode.send([msg,null]);\n\n// pwm\nlet value = flow.get('pwm','file');\nif (value == null) {\n    value = 0.7;\n    flow.set('pwm', value, 'file');\n}\nmsg.payload = { 'pwm': value };\nreturn [null,msg];","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"_mcu":{"mcu":true},"x":390,"y":320,"wires":[["c749f2735b4b2eed","36bc91f8709ccc04"],["1e056aa6a3dab2f6","36bc91f8709ccc04"]]},{"id":"f889ad7b2ce92fba","type":"mcu_digital_out","z":"25030fb4a1563227","name":"RED LED 27","pin":"27","mode":"Output","initial":"undefined","_mcu":{"mcu":true},"x":1050,"y":420,"wires":[]},{"id":"6100c188d1dd82ef","type":"function","z":"25030fb4a1563227","name":"invert","func":"msg.payload=!msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"_mcu":{"mcu":true},"x":910,"y":420,"wires":[["f889ad7b2ce92fba"]]},{"id":"9ecae67c18bbabc2","type":"change","z":"25030fb4a1563227","name":"set flow","rules":[{"t":"set","p":"#:(file)::pwm","pt":"flow","to":"payload.pwm","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"_mcu":{"mcu":true},"x":500,"y":640,"wires":[["1e056aa6a3dab2f6"]]},{"id":"d9c6258962c6cfbf","type":"change","z":"25030fb4a1563227","name":"set flow","rules":[{"t":"set","p":"mist_state","pt":"flow","to":"payload.mist","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"_mcu":{"mcu":true},"x":500,"y":600,"wires":[["c749f2735b4b2eed"]]},{"id":"fc80cd34bbd37524","type":"function","z":"25030fb4a1563227","name":"round","func":"msg.payload.thermometer.temperature = (Math.round(msg.payload.thermometer.temperature * 100)) / 100;\nmsg.payload.hygrometer.humidity = (Math.round(msg.payload.hygrometer.humidity * 100)) / 100;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"_mcu":{"mcu":true},"x":670,"y":220,"wires":[["bb2c4f555f55034b"]]},{"id":"a0d1f90629ab2e14","type":"function","z":"25030fb4a1563227","name":"simple trigger","func":"let delay = msg.delay;\nif (delay == null) {\n    delay = 200;\n}\n\nmsg.payload = false;\nnode.send(msg); \n\nsetTimeout(() => {\n    msg.payload = true;\n    node.send(msg); \n    node.done();\n},delay)\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"_mcu":{"mcu":true},"x":440,"y":160,"wires":[["95b6453870c4ec59"]]},{"id":"7d2b1d1a1667d92a","type":"sensor","z":"25030fb4a1563227","name":"","platform":"","module":"embedded:sensor/Humidity-Temperature/SHT3x","options":{"sensor":{"io":"I2C","bus":"default","address":"0x44"}},"configuration":"{}","moddable_manifest":{"include":["$(MODDABLE)/modules/drivers/sensors/sht3x/manifest.json"]},"_mcu":{"mcu":true},"x":410,"y":220,"wires":[["b7dca911f75d433e"]]},{"id":"7e39c094da127a6d","type":"mqtt-broker","name":"","broker":"192.168.1.17","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":"","_mcu":{"mcu":false}}]