補足書2024秋ーはじめてのNode-RED_MCU-Edition/flows-Quiz_Final.json
[{"id":"11221c1956e8ba79","type":"tab","label":"はやおしマシン","disabled":false,"info":"","env":[],"_mcu":{"mcu":false}},{"id":"ef9ac611418b8e0a","type":"mcu_digital_in","z":"11221c1956e8ba79","name":"おしボタン","pin":"23","mode":"InputPullUp","edge":"3","debounce":"20","initial":false,"invert":true,"moddable_manifest":{"include":"$(NODEREDMCU)/nodes/mcu/digital/manifest.json"},"_mcu":{"mcu":false},"x":520,"y":320,"wires":[["f322ca03a59a4388","12ce81f5f41c5e1f"]]},{"id":"0a57db77c12e43d0","type":"delay","z":"11221c1956e8ba79","name":"５びょうまつ","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"_mcu":{"mcu":false},"x":720,"y":460,"wires":[["d7bc0c73e8da7ea6","c87c84361c86d296"]]},{"id":"c87c84361c86d296","type":"change","z":"11221c1956e8ba79","name":"みぎ","rules":[{"t":"set","p":"payload","pt":"msg","to":"0.03","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"_mcu":{"mcu":false},"x":950,"y":480,"wires":[["31b2b4eed76426df"]]},{"id":"31b2b4eed76426df","type":"mcu_pwm_out","z":"11221c1956e8ba79","name":"モーターをうごかす","pin":"19","hz":"50","moddable_manifest":{"include":"$(NODEREDMCU)/nodes/mcu/pwm/manifest.json"},"_mcu":{"mcu":false},"x":1140,"y":460,"wires":[]},{"id":"f322ca03a59a4388","type":"change","z":"11221c1956e8ba79","name":"なまえ","rules":[{"t":"set","p":"payload","pt":"msg","to":"ちゃとら","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"_mcu":{"mcu":false},"x":730,"y":320,"wires":[["5d3933e0781df179"]]},{"id":"29953c5912b0451a","type":"switch","z":"11221c1956e8ba79","name":"１と０をわける","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"_mcu":{"mcu":false},"x":720,"y":400,"wires":[["d7bc0c73e8da7ea6","d9bc1d6d0735858e"],["0a57db77c12e43d0"]]},{"id":"5d3933e0781df179","type":"mqtt out","z":"11221c1956e8ba79","name":"おしたよ！","topic":"topic/push","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"8bc02b8d6f621d9d","_mcu":{"mcu":false},"x":990,"y":320,"wires":[]},{"id":"ab235bf6471f0923","type":"mqtt in","z":"11221c1956e8ba79","name":"はやかったひと","topic":"topic/winner","qos":"2","datatype":"auto-detect","broker":"8bc02b8d6f621d9d","nl":false,"rap":true,"rh":0,"inputs":0,"_mcu":{"mcu":false},"x":400,"y":540,"wires":[["95437d42f5eb9e1b"]]},{"id":"95437d42f5eb9e1b","type":"switch","z":"11221c1956e8ba79","name":"じぶんかな？","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ちゃとら","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"_mcu":{"mcu":false},"x":600,"y":540,"wires":[["7d3804f3883859f1"]]},{"id":"7d3804f3883859f1","type":"trigger","z":"11221c1956e8ba79","name":"オンにする","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"250","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"_mcu":{"mcu":false},"x":550,"y":400,"wires":[["29953c5912b0451a"]]},{"id":"d9bc1d6d0735858e","type":"change","z":"11221c1956e8ba79","name":"うえ","rules":[{"t":"set","p":"payload","pt":"msg","to":"0.075","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"_mcu":{"mcu":false},"x":950,"y":440,"wires":[["31b2b4eed76426df"]]},{"id":"af2e84ec7bc66d68","type":"comment","z":"11221c1956e8ba79","name":"ちゃとらチーム","info":"","_mcu":{"mcu":false},"x":500,"y":40,"wires":[]},{"id":"12ce81f5f41c5e1f","type":"debug","z":"11221c1956e8ba79","name":"でばっぐ","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","_mcu":{"mcu":false},"x":860,"y":240,"wires":[]},{"id":"bb60a8d26a55d899","type":"inject","z":"11221c1956e8ba79","name":"いんじぇくと","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"こんにちは！","payloadType":"str","_mcu":{"mcu":false},"x":410,"y":240,"wires":[["0580a458173db9a3"]]},{"id":"653e40ac53f44b20","type":"comment","z":"11221c1956e8ba79","name":"ぱれっと","info":"","_mcu":{"mcu":false},"x":160,"y":40,"wires":[]},{"id":"0580a458173db9a3","type":"function","z":"11221c1956e8ba79","name":"ふぁんくしょん","func":"msg.payload = msg.payload + \" ここは、なかもずだよ！\"\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"_mcu":{"mcu":false},"x":600,"y":240,"wires":[["12ce81f5f41c5e1f"]]},{"id":"d7bc0c73e8da7ea6","type":"mcu_digital_out","z":"11221c1956e8ba79","name":"ランプをつける","pin":"18","mode":"Output","initial":"0","invert":false,"moddable_manifest":{"include":"$(NODEREDMCU)/nodes/mcu/digital/manifest.json"},"_mcu":{"mcu":false},"x":1000,"y":380,"wires":[]},{"id":"8bc02b8d6f621d9d","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":"","_mcu":{"mcu":false}}]