補足書2024秋ーはじめてのNode-RED_MCU-Edition/flows-Quiz_Palette.json
[{"id":"3c51d00a3d7acc05","type":"tab","label":"はやおしマシン","disabled":false,"info":"","env":[],"_mcu":{"mcu":false}},{"id":"4df9d3bde0a9df52","type":"mcu_digital_in","z":"3c51d00a3d7acc05","name":"おしボタン","pin":"23","mode":"InputPullUp","edge":"3","debounce":"20","initial":false,"invert":true,"moddable_manifest":{"include":"$(NODEREDMCU)/nodes/mcu/digital/manifest.json"},"_mcu":{"mcu":false},"x":100,"y":220,"wires":[[]]},{"id":"fcb57240b9195615","type":"mcu_digital_out","z":"3c51d00a3d7acc05","name":"ランプをつける","pin":"18","mode":"Output","initial":"0","invert":false,"moddable_manifest":{"include":"$(NODEREDMCU)/nodes/mcu/digital/manifest.json"},"_mcu":{"mcu":false},"x":120,"y":260,"wires":[]},{"id":"9a7f3aa489b8d767","type":"delay","z":"3c51d00a3d7acc05","name":"５びょうまつ","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"_mcu":{"mcu":false},"x":120,"y":340,"wires":[[]]},{"id":"ed1e1be443674e50","type":"change","z":"3c51d00a3d7acc05","name":"みぎ","rules":[{"t":"set","p":"payload","pt":"msg","to":"0.03","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"_mcu":{"mcu":false},"x":90,"y":460,"wires":[[]]},{"id":"b3166a15b524e12f","type":"change","z":"3c51d00a3d7acc05","name":"ひだり","rules":[{"t":"set","p":"payload","pt":"msg","to":"0.12","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"_mcu":{"mcu":false},"x":90,"y":500,"wires":[[]]},{"id":"67d6c9b830a79b22","type":"mcu_pwm_out","z":"3c51d00a3d7acc05","name":"モーターをうごかす","pin":"19","hz":"50","moddable_manifest":{"include":"$(NODEREDMCU)/nodes/mcu/pwm/manifest.json"},"_mcu":{"mcu":false},"x":140,"y":380,"wires":[]},{"id":"1adc6818cb3795f7","type":"change","z":"3c51d00a3d7acc05","name":"なまえ","rules":[{"t":"set","p":"payload","pt":"msg","to":"ちゃとら","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"_mcu":{"mcu":false},"x":90,"y":540,"wires":[[]]},{"id":"87a001c9fa3ff354","type":"switch","z":"3c51d00a3d7acc05","name":"１と０をわける","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"_mcu":{"mcu":false},"x":120,"y":300,"wires":[[],[]]},{"id":"5661e9a792c1919a","type":"mqtt out","z":"3c51d00a3d7acc05","name":"おしたよ！","topic":"topic/push","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"8bc02b8d6f621d9d","_mcu":{"mcu":false},"x":110,"y":580,"wires":[]},{"id":"e2b3e13badc11bb6","type":"mqtt in","z":"3c51d00a3d7acc05","name":"はやかったひと","topic":"topic/winner","qos":"2","datatype":"auto-detect","broker":"8bc02b8d6f621d9d","nl":false,"rap":true,"rh":0,"inputs":0,"_mcu":{"mcu":false},"x":120,"y":620,"wires":[[]]},{"id":"e24ff772966b9ca6","type":"switch","z":"3c51d00a3d7acc05","name":"じぶんかな？","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ちゃとら","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"_mcu":{"mcu":false},"x":120,"y":660,"wires":[[]]},{"id":"d638d6c3a77937ac","type":"trigger","z":"3c51d00a3d7acc05","name":"オンにする","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"250","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"_mcu":{"mcu":false},"x":110,"y":700,"wires":[[]]},{"id":"1cb62b152a189a8a","type":"change","z":"3c51d00a3d7acc05","name":"うえ","rules":[{"t":"set","p":"payload","pt":"msg","to":"0.075","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"_mcu":{"mcu":false},"x":90,"y":420,"wires":[[]]},{"id":"906264860d77a2ed","type":"comment","z":"3c51d00a3d7acc05","name":"ちゃとらチーム","info":"","_mcu":{"mcu":false},"x":580,"y":40,"wires":[]},{"id":"3357a3d5b0a1485e","type":"debug","z":"3c51d00a3d7acc05","name":"でばっぐ","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","_mcu":{"mcu":false},"x":100,"y":160,"wires":[]},{"id":"782e5590b72e1f83","type":"inject","z":"3c51d00a3d7acc05","name":"いんじぇくと","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"こんにちは！","payloadType":"str","_mcu":{"mcu":false},"x":130,"y":80,"wires":[[]]},{"id":"0559887e0f2279d7","type":"comment","z":"3c51d00a3d7acc05","name":"ぱれっと","info":"","_mcu":{"mcu":false},"x":120,"y":40,"wires":[]},{"id":"d52fb81247037e16","type":"function","z":"3c51d00a3d7acc05","name":"ふぁんくしょん","func":"msg.payload = msg.payload + \" ここは、なかもずだよ！\"\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"_mcu":{"mcu":false},"x":120,"y":120,"wires":[[]]},{"id":"8bc02b8d6f621d9d","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":"","_mcu":{"mcu":false}}]