補足書2024秋ーはじめてのNode-RED_MCU-Edition/flows-QuizServer.json
[{"id":"f8176924188f31d3","type":"tab","label":"クイズサーバ","disabled":false,"info":"","env":[],"_mcu":{"mcu":false}},{"id":"b692efc89f18aeba","type":"junction","z":"f8176924188f31d3","x":780,"y":240,"wires":[[]]},{"id":"9bff157d526194b6","type":"junction","z":"f8176924188f31d3","x":980,"y":520,"wires":[["8f804d1d393efb55"]]},{"id":"3c0b1eb4ae576e58","type":"junction","z":"f8176924188f31d3","x":1040,"y":520,"wires":[["6c17690cf9c80b22","49524067179cb35d","c67019cb7578636e","5126b9e18067c997"]]},{"id":"13bd825b68cab77f","type":"mqtt in","z":"f8176924188f31d3","name":"","topic":"topic/push","qos":"2","datatype":"auto-detect","broker":"8bc02b8d6f621d9d","nl":false,"rap":true,"rh":0,"inputs":0,"_mcu":{"mcu":false},"x":140,"y":360,"wires":[["06ca3da6e20375f2","da5686631fe4aba7"]]},{"id":"ad5988e96d9c5f9d","type":"change","z":"f8176924188f31d3","name":"","rules":[{"t":"set","p":"hit","pt":"flow","to":"true","tot":"bool"},{"t":"set","p":"answerer","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"_mcu":{"mcu":false},"x":480,"y":360,"wires":[["112688f26928907f","d69e98ec49117773","3882ba70d0b948ea","1fc91f6723bb9519","33c2328b69749dc6"]]},{"id":"06ca3da6e20375f2","type":"switch","z":"f8176924188f31d3","name":"hit","property":"hit","propertyType":"flow","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"_mcu":{"mcu":false},"x":290,"y":360,"wires":[["ad5988e96d9c5f9d","eba6c72926677253","99552a9e61d4c971"]]},{"id":"0fe59bd0cf3dbb4a","type":"inject","z":"f8176924188f31d3","name":"","props":[],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","_mcu":{"mcu":false},"x":450,"y":240,"wires":[["542f83c968e75596","fe5a299c24bffb25"]]},{"id":"542f83c968e75596","type":"change","z":"f8176924188f31d3","name":"clear hit","rules":[{"t":"set","p":"hit","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"_mcu":{"mcu":false},"x":660,"y":300,"wires":[[]]},{"id":"eba6c72926677253","type":"delay","z":"f8176924188f31d3","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"_mcu":{"mcu":false},"x":440,"y":300,"wires":[["542f83c968e75596"]]},{"id":"112688f26928907f","type":"mqtt out","z":"f8176924188f31d3","name":"","topic":"topic/winner","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"8bc02b8d6f621d9d","_mcu":{"mcu":false},"x":890,"y":360,"wires":[]},{"id":"dbbd66bedba5d921","type":"switch","z":"f8176924188f31d3","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"ちゃとら","vt":"str"},{"t":"eq","v":"くろちゃん","vt":"str"},{"t":"eq","v":"いわとび","vt":"str"},{"t":"eq","v":"ごまちゃん","vt":"str"}],"checkall":"false","repair":false,"outputs":4,"_mcu":{"mcu":false},"x":650,"y":660,"wires":[["78d8afd282c70b29"],["0190a288a0198787"],["3458e15c33fd74fd"],["327eea5a093f775c"]]},{"id":"8f804d1d393efb55","type":"ui_chart","z":"f8176924188f31d3","name":"","group":"1d3464ccbf0af267","order":3,"width":8,"height":6,"label":"","chartType":"horizontalBar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"5","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#ff9b9b","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","_mcu":{"mcu":false},"x":1130,"y":240,"wires":[[]]},{"id":"05eb02b3924ba74e","type":"change","z":"f8176924188f31d3","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"answerer","tot":"flow"},{"t":"set","p":"answerer","pt":"flow","to":"","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"_mcu":{"mcu":false},"x":300,"y":660,"wires":[["dbbd66bedba5d921","5aa404ec8fd36793"]]},{"id":"78d8afd282c70b29","type":"change","z":"f8176924188f31d3","name":"","rules":[{"t":"set","p":"chatora","pt":"flow","to":"$flowContext('chatora') + 1","tot":"jsonata"},{"t":"set","p":"payload","pt":"msg","to":"chatora","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"_mcu":{"mcu":false},"x":840,"y":600,"wires":[["6c17690cf9c80b22","9bff157d526194b6"]]},{"id":"0190a288a0198787","type":"change","z":"f8176924188f31d3","name":"","rules":[{"t":"set","p":"kurochan","pt":"flow","to":"$flowContext('kurochan') + 1","tot":"jsonata"},{"t":"set","p":"payload","pt":"msg","to":"kurochan","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"_mcu":{"mcu":false},"x":840,"y":640,"wires":[["49524067179cb35d","9bff157d526194b6"]]},{"id":"fe5a299c24bffb25","type":"change","z":"f8176924188f31d3","name":"Clear Status","rules":[{"t":"set","p":"chatora","pt":"flow","to":"0","tot":"num"},{"t":"set","p":"kurochan","pt":"flow","to":"0","tot":"num"},{"t":"set","p":"iwatobi","pt":"flow","to":"0","tot":"num"},{"t":"set","p":"gomachan","pt":"flow","to":"0","tot":"num"},{"t":"set","p":"payload","pt":"msg","to":"[]","tot":"json"},{"t":"set","p":"answerer","pt":"flow","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"_mcu":{"mcu":false},"x":710,"y":240,"wires":[["5aa404ec8fd36793","d3fe6cc22d133a7c","8f804d1d393efb55"]]},{"id":"6f2c3aff337c9812","type":"ui_button","z":"f8176924188f31d3","name":"","group":"1d3464ccbf0af267","order":12,"width":4,"height":1,"passthru":false,"label":"CLEAR","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"true","payloadType":"bool","topic":"topic","topicType":"msg","_mcu":{"mcu":false},"x":440,"y":180,"wires":[["fe5a299c24bffb25","542f83c968e75596"]]},{"id":"6c17690cf9c80b22","type":"ui_text","z":"f8176924188f31d3","group":"1d3464ccbf0af267","order":2,"width":3,"height":1,"name":"","label":"ちゃとら","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","_mcu":{"mcu":false},"x":1180,"y":600,"wires":[]},{"id":"49524067179cb35d","type":"ui_text","z":"f8176924188f31d3","group":"1d3464ccbf0af267","order":5,"width":3,"height":1,"name":"","label":"くろちゃん","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","_mcu":{"mcu":false},"x":1190,"y":640,"wires":[]},{"id":"3458e15c33fd74fd","type":"change","z":"f8176924188f31d3","name":"","rules":[{"t":"set","p":"iwatobi","pt":"flow","to":"$flowContext('iwatobi') + 1","tot":"jsonata"},{"t":"set","p":"payload","pt":"msg","to":"iwatobi","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"_mcu":{"mcu":false},"x":840,"y":680,"wires":[["c67019cb7578636e","9bff157d526194b6"]]},{"id":"c67019cb7578636e","type":"ui_text","z":"f8176924188f31d3","group":"1d3464ccbf0af267","order":7,"width":3,"height":1,"name":"","label":"いわとび","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","_mcu":{"mcu":false},"x":1180,"y":680,"wires":[]},{"id":"327eea5a093f775c","type":"change","z":"f8176924188f31d3","name":"","rules":[{"t":"set","p":"gomachan","pt":"flow","to":"$flowContext('gomachan') + 1","tot":"jsonata"},{"t":"set","p":"payload","pt":"msg","to":"gomachan","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"_mcu":{"mcu":false},"x":840,"y":720,"wires":[["5126b9e18067c997","9bff157d526194b6"]]},{"id":"5126b9e18067c997","type":"ui_text","z":"f8176924188f31d3","group":"1d3464ccbf0af267","order":9,"width":3,"height":1,"name":"","label":"ごまちゃん","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","_mcu":{"mcu":false},"x":1190,"y":720,"wires":[]},{"id":"da5686631fe4aba7","type":"debug","z":"f8176924188f31d3","name":"debug 4","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","_mcu":{"mcu":false},"x":260,"y":220,"wires":[]},{"id":"051894c2cfde0f64","type":"ui_button","z":"f8176924188f31d3","name":"","group":"1d3464ccbf0af267","order":11,"width":2,"height":1,"passthru":true,"label":"☓","tooltip":"","color":"","bgcolor":"red","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","_mcu":{"mcu":false},"x":130,"y":700,"wires":[["44589b8ef7e4cf7f"]]},{"id":"c243f04f0b458434","type":"ui_button","z":"f8176924188f31d3","name":"","group":"1d3464ccbf0af267","order":10,"width":2,"height":1,"passthru":true,"label":"〇","tooltip":"","color":"","bgcolor":"green","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","_mcu":{"mcu":false},"x":130,"y":660,"wires":[["05eb02b3924ba74e"]]},{"id":"44589b8ef7e4cf7f","type":"change","z":"f8176924188f31d3","name":"","rules":[{"t":"set","p":"answerer","pt":"flow","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"_mcu":{"mcu":false},"x":310,"y":700,"wires":[["5aa404ec8fd36793"]]},{"id":"d69e98ec49117773","type":"ui_led","z":"f8176924188f31d3","order":1,"group":"1d3464ccbf0af267","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#808080","value":"false","valueType":"bool"},{"color":"#ff0000","value":"ちゃとら","valueType":"str"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"ちゃとら","_mcu":{"mcu":false},"x":820,"y":420,"wires":[]},{"id":"3882ba70d0b948ea","type":"ui_led","z":"f8176924188f31d3","order":4,"group":"1d3464ccbf0af267","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#808080","value":"false","valueType":"bool"},{"color":"#ff0000","value":"くろちゃん","valueType":"str"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"くろちゃん","_mcu":{"mcu":false},"x":830,"y":460,"wires":[]},{"id":"1fc91f6723bb9519","type":"ui_led","z":"f8176924188f31d3","order":6,"group":"1d3464ccbf0af267","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#808080","value":"false","valueType":"bool"},{"color":"#ff0000","value":"いわとび","valueType":"str"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"いわとび","_mcu":{"mcu":false},"x":820,"y":500,"wires":[]},{"id":"33c2328b69749dc6","type":"ui_led","z":"f8176924188f31d3","order":8,"group":"1d3464ccbf0af267","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#808080","value":"false","valueType":"bool"},{"color":"#ff0000","value":"ごまちゃん","valueType":"str"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"ごまちゃん","_mcu":{"mcu":false},"x":830,"y":540,"wires":[]},{"id":"5aa404ec8fd36793","type":"change","z":"f8176924188f31d3","name":"set false","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"_mcu":{"mcu":false},"x":540,"y":540,"wires":[["d69e98ec49117773","3882ba70d0b948ea","1fc91f6723bb9519","33c2328b69749dc6"]]},{"id":"99552a9e61d4c971","type":"mqtt out","z":"f8176924188f31d3","name":"","topic":"topic/jinja","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"8bc02b8d6f621d9d","_mcu":{"mcu":false},"x":440,"y":420,"wires":[]},{"id":"d3fe6cc22d133a7c","type":"change","z":"f8176924188f31d3","name":"Clear Chart","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"_mcu":{"mcu":false},"x":890,"y":300,"wires":[["3c0b1eb4ae576e58"]]},{"id":"8bc02b8d6f621d9d","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":"","_mcu":{"mcu":false}},{"id":"1d3464ccbf0af267","type":"ui_group","name":"デフォルト","tab":"e03cc9ed3f883559","order":1,"disp":false,"width":12,"collapse":false,"className":"","_mcu":{"mcu":false}},{"id":"e03cc9ed3f883559","type":"ui_tab","name":"なかもずクイズ大会","icon":"dashboard","order":1,"disabled":false,"hidden":false,"_mcu":{"mcu":false}}]