Qiita-articles/ota-update/flows (OTApull-blinkOne).json
[
    {
        "id": "39ec49b1a4f904e2",
        "type": "tab",
        "label": "OTA Pull - blinkOne",
        "disabled": false,
        "info": "",
        "env": [],
        "_mcu": {
            "mcu": false
        }
    },
    {
        "id": "37515c23ae479380",
        "type": "inject",
        "z": "39ec49b1a4f904e2",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "0.5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "_mcu": {
            "mcu": false
        },
        "x": 130,
        "y": 100,
        "wires": [
            [
                "278687b44107283c"
            ]
        ]
    },
    {
        "id": "ded16838b896e886",
        "type": "mcu_digital_out",
        "z": "39ec49b1a4f904e2",
        "name": "",
        "pin": "26",
        "mode": "Output",
        "initial": "1",
        "invert": false,
        "moddable_manifest": {
            "include": "$(NODEREDMCU)/nodes/mcu/digital/manifest.json"
        },
        "_mcu": {
            "mcu": false
        },
        "x": 490,
        "y": 100,
        "wires": []
    },
    {
        "id": "f41569e0e4fed8f2",
        "type": "change",
        "z": "39ec49b1a4f904e2",
        "name": "blinkTwo指定",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "http://192.168.1.12/firmware/blinkTwo.bin",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "_mcu": {
            "mcu": false
        },
        "x": 330,
        "y": 260,
        "wires": [
            [
                "96aca5965d842db4"
            ]
        ]
    },
    {
        "id": "b8b01faa78161dff",
        "type": "mcu_digital_in",
        "z": "39ec49b1a4f904e2",
        "name": "Update ボタン 12",
        "pin": "12",
        "mode": "InputPullUp",
        "edge": "2",
        "debounce": "50",
        "initial": false,
        "invert": false,
        "moddable_manifest": {
            "include": "$(NODEREDMCU)/nodes/mcu/digital/manifest.json"
        },
        "_mcu": {
            "mcu": false
        },
        "x": 150,
        "y": 260,
        "wires": [
            [
                "f41569e0e4fed8f2"
            ]
        ]
    },
    {
        "id": "a8cc75ab6ac210c6",
        "type": "mcu_digital_out",
        "z": "39ec49b1a4f904e2",
        "name": "",
        "pin": "27",
        "mode": "Output",
        "initial": "0",
        "invert": true,
        "moddable_manifest": {
            "include": "$(NODEREDMCU)/nodes/mcu/digital/manifest.json"
        },
        "_mcu": {
            "mcu": false
        },
        "x": 490,
        "y": 160,
        "wires": []
    },
    {
        "id": "561130bd7f602c24",
        "type": "mcu_restart",
        "z": "39ec49b1a4f904e2",
        "name": "",
        "moddable_manifest": {
            "include": "$(NODEREDMCU)/nodes/restart/manifest.json"
        },
        "_mcu": {
            "mcu": false
        },
        "x": 670,
        "y": 260,
        "wires": []
    },
    {
        "id": "278687b44107283c",
        "type": "trigger",
        "z": "39ec49b1a4f904e2",
        "name": "",
        "op1": "1",
        "op2": "0",
        "op1type": "val",
        "op2type": "val",
        "duration": "250",
        "extend": "false",
        "overrideDelay": "false",
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "_mcu": {
            "mcu": false
        },
        "x": 300,
        "y": 100,
        "wires": [
            [
                "ded16838b896e886"
            ]
        ]
    },
    {
        "id": "96aca5965d842db4",
        "type": "ota-update",
        "z": "39ec49b1a4f904e2",
        "name": "OTA update - Pull",
        "path": "",
        "moddable_manifest": {
            "include": "$(NODEREDMCU)/nodes/ota-update/manifest.json"
        },
        "_mcu": {
            "mcu": false
        },
        "x": 510,
        "y": 260,
        "wires": [
            [
                "561130bd7f602c24"
            ]
        ]
    },
    {
        "id": "10e14282524c7c7f",
        "type": "comment",
        "z": "39ec49b1a4f904e2",
        "name": "メイン処理　１灯点滅",
        "info": "",
        "_mcu": {
            "mcu": false
        },
        "x": 160,
        "y": 60,
        "wires": []
    },
    {
        "id": "316802fc3baa51e6",
        "type": "comment",
        "z": "39ec49b1a4f904e2",
        "name": "ファームウェア更新（Pull）",
        "info": "",
        "_mcu": {
            "mcu": false
        },
        "x": 180,
        "y": 200,
        "wires": []
    }
]