Qiita-articles/ota-update/flows (OTApush-pc).json
[
    {
        "id": "17e0510a0d9b5ade",
        "type": "tab",
        "label": "ota push server",
        "disabled": false,
        "info": "",
        "env": [],
        "_mcu": {
            "mcu": false
        }
    },
    {
        "id": "a31a43cd4f72af9b",
        "type": "http request",
        "z": "17e0510a0d9b5ade",
        "name": "",
        "method": "PUT",
        "ret": "bin",
        "paytoqs": "ignore",
        "url": "http://192.168.1.14/ota/firmware",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "_mcu": {
            "mcu": false
        },
        "x": 490,
        "y": 160,
        "wires": [
            [
                "cd3f14bce2480e41"
            ]
        ]
    },
    {
        "id": "cd3f14bce2480e41",
        "type": "debug",
        "z": "17e0510a0d9b5ade",
        "name": "debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "_mcu": {
            "mcu": false
        },
        "x": 630,
        "y": 160,
        "wires": []
    },
    {
        "id": "ba2076db2f2c9cf9",
        "type": "file in",
        "z": "17e0510a0d9b5ade",
        "name": "blinkOne 読み出し",
        "filename": "/home/mshoji/firmware/push-blinkOne.bin",
        "filenameType": "str",
        "format": "",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "_mcu": {
            "mcu": false
        },
        "x": 270,
        "y": 120,
        "wires": [
            [
                "a31a43cd4f72af9b"
            ]
        ]
    },
    {
        "id": "fc5dbb3cbf091275",
        "type": "inject",
        "z": "17e0510a0d9b5ade",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "_mcu": {
            "mcu": false
        },
        "x": 110,
        "y": 120,
        "wires": [
            [
                "ba2076db2f2c9cf9"
            ]
        ]
    },
    {
        "id": "75e77a91cafb10ec",
        "type": "comment",
        "z": "17e0510a0d9b5ade",
        "name": "ota-push PC/サーバ上で動作するフローです",
        "info": "",
        "_mcu": {
            "mcu": false
        },
        "x": 210,
        "y": 60,
        "wires": []
    },
    {
        "id": "de02992f2a749be1",
        "type": "file in",
        "z": "17e0510a0d9b5ade",
        "name": "blinkTwo 読み出し",
        "filename": "/home/mshoji/firmware/push-blinkTwo.bin",
        "filenameType": "str",
        "format": "",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "_mcu": {
            "mcu": false
        },
        "x": 270,
        "y": 200,
        "wires": [
            [
                "a31a43cd4f72af9b"
            ]
        ]
    },
    {
        "id": "3ca63fef6a1ce86b",
        "type": "inject",
        "z": "17e0510a0d9b5ade",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "_mcu": {
            "mcu": false
        },
        "x": 110,
        "y": 200,
        "wires": [
            [
                "de02992f2a749be1"
            ]
        ]
    }
]