補足書2023秋ーはじめてのNode-RED_MCU-Edition/flows_Device_TLS-test-mossquitto-org.json
[{"id":"d9e7e3484e3ec812","type":"tab","label":"Device_TLS-test-mossquitto-org","disabled":false,"info":"","env":[],"_mcu":{"mcu":false}},{"id":"a4f1c708c6e37aae","type":"mqtt out","z":"d9e7e3484e3ec812","name":"","topic":"nrmcu/testmqtt-tls","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"ad211e21bcaab245","_mcu":{"mcu":false},"x":530,"y":160,"wires":[]},{"id":"a0ebd1426bf125cd","type":"mcu_digital_in","z":"d9e7e3484e3ec812","name":"button-center","pin":"38","mode":"Input","edge":"2","debounce":"50","initial":false,"invert":false,"_mcu":{"mcu":false},"x":170,"y":160,"wires":[["2483d15906503f14"]]},{"id":"2483d15906503f14","type":"change","z":"d9e7e3484e3ec812","name":"message","rules":[{"t":"set","p":"payload","pt":"msg","to":"hello mqtt tls","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"_mcu":{"mcu":false},"x":340,"y":160,"wires":[["a4f1c708c6e37aae"]]},{"id":"ad211e21bcaab245","type":"mqtt-broker","name":"","broker":"test.mosquitto.org","port":"8883","tls":"0a5d8371192fc9ad","clientid":"","autoConnect":true,"usetls":true,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":"","_mcu":{"mcu":false}},{"id":"0a5d8371192fc9ad","type":"tls-config","name":"test-mossquitto-org","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"mosquitto.org.crt","servername":"","verifyservercert":true,"alpnprotocol":"","_mcu":{"mcu":false}}]