補足書2023秋ーはじめてのNode-RED_MCU-Edition/flows_Device_TLS-self-cloud-mosquitto(example).json
[{"id":"bae76c1194875184","type":"tab","label":"Device_TLS-self-cloud-mosquitto(example)","disabled":false,"info":"","env":[],"_mcu":{"mcu":false}},{"id":"3a700e1801a6a9f9","type":"mqtt out","z":"bae76c1194875184","name":"","topic":"nrmcu/testmqtt-tls","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"40e7732458f9720b","_mcu":{"mcu":false},"x":590,"y":140,"wires":[]},{"id":"0a81d964378cb0f5","type":"mcu_digital_in","z":"bae76c1194875184","name":"button-center","pin":"38","mode":"Input","edge":"2","debounce":"50","initial":false,"invert":false,"_mcu":{"mcu":false},"x":230,"y":140,"wires":[["b61a583a8eafb056"]]},{"id":"b61a583a8eafb056","type":"change","z":"bae76c1194875184","name":"message","rules":[{"t":"set","p":"payload","pt":"msg","to":"hello mqtt tls","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"_mcu":{"mcu":false},"x":400,"y":140,"wires":[["3a700e1801a6a9f9"]]},{"id":"0ba1fdb21fb2834d","type":"inject","z":"bae76c1194875184","name":"","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","_mcu":{"mcu":false},"x":210,"y":80,"wires":[["b61a583a8eafb056"]]},{"id":"40e7732458f9720b","type":"mqtt-broker","name":"","broker":"<my cloud server address>","port":"8883","tls":"f2be4c023871012c","clientid":"","autoConnect":true,"usetls":true,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":"","_mcu":{"mcu":false}},{"id":"f2be4c023871012c","type":"tls-config","name":"<my tls setting>","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":true,"alpnprotocol":"","_mcu":{"mcu":false}}]