補足書2025春ーはじめてのNode-RED_MCU-Edition/flows_MicrobitCar/flows (MicrobitCar-Device).json
[
    {
        "id": "7d188b6df07ad2f4",
        "type": "tab",
        "label": "MicroBitCar",
        "disabled": false,
        "info": "",
        "env": [],
        "_mcu": {
            "mcu": true
        }
    },
    {
        "id": "c3e161dc95e3d5d8",
        "type": "mcu_pwm_out",
        "z": "7d188b6df07ad2f4",
        "name": "",
        "pin": "4",
        "hz": "100",
        "moddable_manifest": {
            "include": "$(NODEREDMCU)/nodes/mcu/pwm/manifest.json"
        },
        "_mcu": {
            "mcu": true
        },
        "x": 990,
        "y": 200,
        "wires": []
    },
    {
        "id": "1f54d922503edac7",
        "type": "mcu_pwm_out",
        "z": "7d188b6df07ad2f4",
        "name": "",
        "pin": "10",
        "hz": "100",
        "moddable_manifest": {
            "include": "$(NODEREDMCU)/nodes/mcu/pwm/manifest.json"
        },
        "_mcu": {
            "mcu": true
        },
        "x": 990,
        "y": 300,
        "wires": []
    },
    {
        "id": "0da9b3384c890de4",
        "type": "mcu_digital_out",
        "z": "7d188b6df07ad2f4",
        "name": "",
        "pin": "5",
        "mode": "Output",
        "initial": "1",
        "invert": false,
        "moddable_manifest": {
            "include": "$(NODEREDMCU)/nodes/mcu/digital/manifest.json"
        },
        "_mcu": {
            "mcu": true
        },
        "x": 990,
        "y": 240,
        "wires": []
    },
    {
        "id": "9f4b183cf6f47ae9",
        "type": "mcu_digital_out",
        "z": "7d188b6df07ad2f4",
        "name": "",
        "pin": "20",
        "mode": "Output",
        "initial": "1",
        "invert": false,
        "moddable_manifest": {
            "include": "$(NODEREDMCU)/nodes/mcu/digital/manifest.json"
        },
        "_mcu": {
            "mcu": true
        },
        "x": 990,
        "y": 340,
        "wires": []
    },
    {
        "id": "3fa8ebeafb61e547",
        "type": "inject",
        "z": "7d188b6df07ad2f4",
        "name": "",
        "props": [],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "_mcu": {
            "mcu": true
        },
        "x": 250,
        "y": 160,
        "wires": [
            [
                "5a40fe77e03aca38"
            ]
        ]
    },
    {
        "id": "5a40fe77e03aca38",
        "type": "trigger",
        "z": "7d188b6df07ad2f4",
        "name": "",
        "op1": "1",
        "op2": "0",
        "op1type": "num",
        "op2type": "num",
        "duration": "250",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "_mcu": {
            "mcu": true
        },
        "x": 420,
        "y": 160,
        "wires": [
            [
                "6cb3ab4a821d6ea2"
            ]
        ]
    },
    {
        "id": "6cb3ab4a821d6ea2",
        "type": "mcu_digital_out",
        "z": "7d188b6df07ad2f4",
        "name": "",
        "pin": "21",
        "mode": "Output",
        "initial": "undefined",
        "invert": true,
        "moddable_manifest": {
            "include": "$(NODEREDMCU)/nodes/mcu/digital/manifest.json"
        },
        "_mcu": {
            "mcu": true
        },
        "x": 610,
        "y": 160,
        "wires": []
    },
    {
        "id": "e55ded62850c4c9c",
        "type": "mcu_digital_in",
        "z": "7d188b6df07ad2f4",
        "name": "",
        "pin": "8",
        "mode": "Input",
        "edge": "3",
        "debounce": "30",
        "initial": true,
        "invert": true,
        "moddable_manifest": {
            "include": "$(NODEREDMCU)/nodes/mcu/digital/manifest.json"
        },
        "_mcu": {
            "mcu": true
        },
        "x": 620,
        "y": 400,
        "wires": [
            [
                "d9eff356c15e257b"
            ]
        ]
    },
    {
        "id": "eac95ae58d2d2366",
        "type": "mcu_digital_in",
        "z": "7d188b6df07ad2f4",
        "name": "",
        "pin": "9",
        "mode": "Input",
        "edge": "3",
        "debounce": "30",
        "initial": false,
        "invert": true,
        "moddable_manifest": {
            "include": "$(NODEREDMCU)/nodes/mcu/digital/manifest.json"
        },
        "_mcu": {
            "mcu": true
        },
        "x": 620,
        "y": 440,
        "wires": [
            [
                "2cc280137125ef30"
            ]
        ]
    },
    {
        "id": "2cc280137125ef30",
        "type": "range",
        "z": "7d188b6df07ad2f4",
        "minin": "0",
        "maxin": "1",
        "minout": "0",
        "maxout": "0.7",
        "action": "scale",
        "round": false,
        "property": "payload",
        "name": "",
        "_mcu": {
            "mcu": true
        },
        "x": 770,
        "y": 440,
        "wires": [
            [
                "1f54d922503edac7"
            ]
        ]
    },
    {
        "id": "d9eff356c15e257b",
        "type": "range",
        "z": "7d188b6df07ad2f4",
        "minin": "0",
        "maxin": "1",
        "minout": "0",
        "maxout": "0.7",
        "action": "scale",
        "round": false,
        "property": "payload",
        "name": "",
        "_mcu": {
            "mcu": true
        },
        "x": 770,
        "y": 400,
        "wires": [
            [
                "c3e161dc95e3d5d8"
            ]
        ]
    },
    {
        "id": "3c7259d49ec66692",
        "type": "mqtt in",
        "z": "7d188b6df07ad2f4",
        "name": "",
        "topic": "topic/microbitcar/motor",
        "qos": "2",
        "datatype": "json",
        "broker": "57d013914908a9ab",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "_mcu": {
            "mcu": true
        },
        "x": 280,
        "y": 260,
        "wires": [
            [
                "6ada3c14fd9e68ad",
                "229328cf9b4bede9"
            ]
        ]
    },
    {
        "id": "db5b57999c9d44e4",
        "type": "change",
        "z": "7d188b6df07ad2f4",
        "name": "pwm",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.pwm",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "_mcu": {
            "mcu": true
        },
        "x": 770,
        "y": 200,
        "wires": [
            [
                "c3e161dc95e3d5d8"
            ]
        ]
    },
    {
        "id": "a248c93b50ace670",
        "type": "change",
        "z": "7d188b6df07ad2f4",
        "name": "dir",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.dir",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "_mcu": {
            "mcu": true
        },
        "x": 770,
        "y": 240,
        "wires": [
            [
                "0da9b3384c890de4"
            ]
        ]
    },
    {
        "id": "1bb66747ec825bf4",
        "type": "change",
        "z": "7d188b6df07ad2f4",
        "name": "pwm",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.pwm",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "_mcu": {
            "mcu": true
        },
        "x": 770,
        "y": 300,
        "wires": [
            [
                "1f54d922503edac7"
            ]
        ]
    },
    {
        "id": "2c0d556cd3fddc7b",
        "type": "change",
        "z": "7d188b6df07ad2f4",
        "name": "dir",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.dir",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "_mcu": {
            "mcu": true
        },
        "x": 770,
        "y": 340,
        "wires": [
            [
                "9f4b183cf6f47ae9"
            ]
        ]
    },
    {
        "id": "6ada3c14fd9e68ad",
        "type": "switch",
        "z": "7d188b6df07ad2f4",
        "name": "motor",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "hask",
                "v": "motor",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "_mcu": {
            "mcu": true
        },
        "x": 490,
        "y": 260,
        "wires": [
            [
                "6bb79a20326ad3d8",
                "09b533cfd9f25594"
            ]
        ]
    },
    {
        "id": "6bb79a20326ad3d8",
        "type": "change",
        "z": "7d188b6df07ad2f4",
        "name": "left",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.motor.left",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "_mcu": {
            "mcu": true
        },
        "x": 630,
        "y": 220,
        "wires": [
            [
                "db5b57999c9d44e4",
                "a248c93b50ace670"
            ]
        ]
    },
    {
        "id": "09b533cfd9f25594",
        "type": "change",
        "z": "7d188b6df07ad2f4",
        "name": "right",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.motor.right",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "_mcu": {
            "mcu": true
        },
        "x": 630,
        "y": 320,
        "wires": [
            [
                "1bb66747ec825bf4",
                "2c0d556cd3fddc7b"
            ]
        ]
    },
    {
        "id": "229328cf9b4bede9",
        "type": "debug",
        "z": "7d188b6df07ad2f4",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "_mcu": {
            "mcu": true
        },
        "x": 440,
        "y": 340,
        "wires": []
    },
    {
        "id": "57d013914908a9ab",
        "type": "mqtt-broker",
        "name": "",
        "broker": "coderdojo-2fc8.local",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": "",
        "_mcu": {
            "mcu": false
        }
    }
]